doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')   
  body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.navbar-brand
          a(href='#') INPS
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/status/') Service Status
          li
            a(href='/users/') Users
    block content