extends layout

block content
  p This'll do something good at some point
  
  table.table.table-hover.table-bordered
    thread
      tr
        th Service
        th Address
        th Availability
      each service, i in serviceList
        tr
          td #{service.name}
          td #{service.address}
          td LOL TBD